@font-face {
	font-family: 'Exo';
	src: url('../font/Exo.2.ttf');
}

@font-face {
	font-family: 'Oxygen Mono';
	src: url('../font/Oxygen.Mono.ttf');
}


html, body {
	margin: 0 auto;
	padding: 0;
}

* {
	font-family: 'Exo';
	outline: none;
}

.header {
	width: 100%;
	height: 40px;
	background: #444;
}

.header > button {
	height: 100%;
	background: #444;
	border: none;
	color: #eee;
	padding: 10px;
}

.header > button:hover {
	background: #555;
}

.header > button:active {
	background: #333;
}

.editor * {
	font-family: 'Oxygen Mono';
}

.row > * {
	display: inline-block;
}

.addrfield {
	display: inline-block;
	background: #0f232e;
}

.addrfield div {
	margin: 0 5px 0 5px;
	color: #3f535e;
}

.hexfield {
	display: inline-block;
	background: #173345;
}

.ascfield {
	display: inline-block;
	background: #1b3e50;
}

.hexfield span, .ascfield span {
	display: inline-block;
	text-align: center;
	margin: 0 5px 0 5px;
}

.hexfield span {
	color: #678395;
}

.ascfield span {
	min-width: 1em;
	color: #7b9eb0;
}
